body.active-modalMy {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 20;

}

.myModal{

}

.overlay {
  background: rgba(49,49,49,0.8);

}
.modal-contentMy {
  z-index: 21;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #1F1F1F;
  padding: 14px 65px 68px 65px;
  border-radius: 3px;
  max-width: 536px;
  border: solid 2px white
}
@media (max-width: 1350px){
  .modal-contentMy{
    padding: 14px 18px 68px 18px;
  }
}

@media (max-width: 1200px){

}

@media (max-width: 900px){

}

@media (max-width: 760px){

}

@media (max-width: 480px){

}



.close-modal {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  cursor: pointer;
  border-radius: 50%;
}

@media (max-width: 1350px){

}

@media (max-width: 1200px){

}

@media (max-width: 900px){

}

@media (max-width: 760px){
  .close-modal {
    top: 65px;
    right: 30px;
  }
}


