#app { height: 100% }
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 648px;
    height: 460px;
    object-fit: cover;
}

body {
    background: #000;
    color: #000;
}

.swiper {
    width: 100%;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 460px;
    width: 648px;
}

body{
    zoom: 85%;
}

.mySwiper {
    box-sizing: border-box;
    min-height: 230px;
    width: 636px;
    margin-left: 24px;
}
@media (max-width: 1350px){}

@media (max-width: 1200px){
    .mySwiper{
        margin: 50px auto;
        min-height: 300px;
    }
}

@media (max-width: 900px){}

@media (max-width: 760px){}

@media (max-width: 480px){}

@media (max-width: 320px){}

/*picures right side*/
.mySwiper .swiper-slide {
    height: 142px;
    opacity: 0.4;
    margin-bottom: 10px;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}


.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.myDiv .swiper-wrapper{
    display: flex;
    flex-wrap: wrap;
    min-height: 312px;
    width: 648px;
}

.myDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 1350px){}

@media (max-width: 1200px){}

@media (max-width: 900px){}

@media (max-width: 760px){
    .myDiv{
        display: none;
    }
    .mySwiper2{
        width: 100%;
        min-height: 100%;
    }
}

@media (max-width: 480px){}

@media (max-width: 320px){}

/*Отключает стрелку левую и правую слайдера*/
.swiper-button-prev, .swiper-button-next{
    /*display: none;*/
}

