.App {
  margin: 0 auto;
  font-family: Gilroy-Regular, sans-serif;
  position: relative;
  min-height: 100vh;
}

@media (max-width: 1350px){
  .App{
    width: 1200px;
  }
}
@media (max-width: 1200px){
  .App{
    width: 100%;
  }
}
.TotalLink{
  text-decoration: none;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(73 38 255 / 36%);
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar {
  width: 8px;
  height: 70px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.accordion-item{
  border: solid 1px white;
}

.accordion-button {
  background-color: #000000 !important;
  color: white;
}



.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
/*сверху цвет кнопки стоит белый для аккордиона*/
.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: white;
}

